/* custom/excalidraw.css */

.excalidraw-container{
    height: calc(100vh - 3.5rem);
    position: relative;
    z-index: 20;
    overflow: auto;
}

.excalidraw-container.light {
    background-color: var(--background);
    color: var(--foreground);
}

.excalidraw-container.dark {
    background-color: var(--background);
    color: var(--foreground);
}
