.site-header {
  background-color: #333;
  color: #f8f0f0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header .logo {
  font-size: 48px;
}

.site-header .logo img {
  width: 200px;
  height: auto;
}

.site-header nav ul {
  list-style-type: none;
  padding: 0;
}

.site-header nav ul li {
  display: inline;
  margin-right: 20px;
}
